/* A minha solução de Filipe Gaspar */

*{
    margin: 0px;
    padding: 0px;
}


/* Formatação geral do corpo do site*/

body{
    background-color: #252323;
    color: #8b8b8b;
}


/*formatação da div principal*/

main#principal{
    max-width: 980px;
    margin: auto;
}

/*Fromatação do cabeçalho da página*/

header.menu-principal{
    width: 100%;
}

div.logo{
    float: left;
    padding: 15px;
}

div.redes-sociais{
    float: right;
    padding: 15px;
}

div.redes-sociais ul li{
    list-style: none;
    display: inline-block;
    margin-left: 15px;
}

/*Formatação do menu de navegação e da caixa de pesquisa*/

nav.top-menu{
    clear: both;
    background-color: white;
    width: 100%;
    height: 85px;
    border-bottom: 4px solid #efefef;
}

nav.top-menu ul li{
    display: inline-block;
    margin-left: 15px;
    text-transform: uppercase;
    line-height: 85px;
    color: #7c7979;
    font-weight: bold;
}

nav.top-menu ul li.PageAtiva{
    color: #00bac6;
    border-bottom: 3px solid #00bac6;
}

nav.top-menu ul li:hover{
    color: #00bac6;
    border-bottom: 3px solid #00bac6;
}

div.menu{
    position: relative;
    float: left;
}

div.cxbusca{
    margin-right: 5px;
    position: relative;
    float: right;
    padding: 20px 5px 20px;
}

input.cxBusca{
    clear: both;
    height: 36px;
    width: 210px;
    border: 1px solid #d6d6d6;
    background: url('../_img/lupa_Cx_busca.png') no-repeat;
    background-position: 95%;
    text-indent: 20px;
}

/* Formatação do banner */

section.banner{
    width: 100%;
    height: 250px;
    box-sizing: border-box;
    color: white;
    text-align: center;
    vertical-align: middle;
    background: url('../_img/banner980_250.jpg');
    animation: banneranimado 6s ease-in infinite; /* Animação do banner*/
    animation-delay: 1s; /* Animação do banner*/
}

@keyframes banneranimado{/*Animação do banner*/
    0%, 30%{
        background: url('../_img/banner980_250.jpg');
    }
    35%, 70%{
        background: url('../_img/banner2_980px.jpg');        
    }
    75%, 100%{
        background: url('../_img/banner3_980px.jpg');
    }
}

div.backBanner{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
}

section.banner h1{
    position: relative;
    top: 50%;
    
}

section.banner p{
    position: relative;
    top: 50%
}

/*Formatação da primeira secção sobre serviços com imagem do Imac*/

section.sec-services{
    width: 100%;
    height: 545px;
    background: white;
}

div.info-textos{
    box-sizing: border-box;
    padding: 15px;
    text-align: center;
}

div.info-textos h1{
    color: #818181;
    text-transform: uppercase;
    padding: 15px;
}

div.info-textos h1 strong{
    color: #646464;
}

div.info-textos p{
    padding: 10px;
    text-align: justify;
}


div.col-3{
    position: relative;
    width: 32%;
    display: inline-block;
}

div.col-3 figure{
    width: 100%;
    position: relative;
    display: inline-block;
    margin-top: 45px;
}

div.col-3 figure.imgcentral{/* Formatação da imagem central fica com alinhamento diferente*/
    position: relative;
    top: 80px;
}

div.col-3 img{
    margin-bottom: 15px;
}

div.col-3 figcaption{
    color: #9a9a9a;
}

div.col-3 figcaption h2 strong{
    color: #7b7b7b;
}

/* Formatação da galeria de imagens na mesma página */
section.galeria{
    width: 100%;
    background: white;
    height: 517px;
}

div.back-galeria{
    width: 100%;
    height: 100%;
    background: url('../_img/galeriaBckg.png');
    background-repeat: no-repeat;
}

div.back-galeria figure{

}
/* Formatação da linha do funda da página */
p.rodape{
    color: white;
    text-align: center;
    margin-top: 10px;
}