*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(40,40,40);
    width: 100%;
    height: 100%;
}

div#principal{
    margin: auto;
    max-width: 1366px;    
}


/*Formatação do topo da página*/

header.logo-rdsociais{
    height: 60px;
    margin: auto;
    max-width: 980px;
}

header.logo-rdsociais main{
    width: 100%;
}

div.logo{
    padding: 10px;
    display: block;
    position: relative;
    float: left;
}

div.redessociais{
    padding: 10px;
    display: block;
    position: relative;
    float: right;
}

div.redessociais img{
    margin-right: 15px;
    clear: both;
}

div.redessociais ul{
    text-decoration: none;
    list-style: none;
}

div.redessociais ul li{
    display: inline-block;
}

/* Formatação do menu de navegação*/
section.menuNavegacao{
    width: 100%;
    background-color: whitesmoke;
    height: 85px;
}

div#menuPrNav{
    max-width: 980px;
}

nav.nenuprincipal{
    width: 100%;
    margin: auto;
}

nav.nenuprincipal ul{
    list-style: none;
}

nav.nenuprincipal ul li{
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 37px;
    color: #00bac6;
    margin-left: 13px;
}



/* Formatação para dispositivos móveis*/

@media only screen and (max-width: 320px){ 
    div.redessociais img{
        margin-right: 5px;
    }
}

@media only screen and (max-width: 375px){ 
    div.redessociais img{
        margin-right: 7px;
    }
}