*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(40,40,40);
    width: 100%;
    height: 100%;
}

div#principal{
    width: 1366px;
}

/*Formatação do topo da página*/

header.logo-rdsociais{
    height: 60px;
    margin: auto;
    width: 980px;
}

div.logo{
    padding: 10px;
}


